.body {
	font-family: Verdana, Helvetica, Arial;
}

.title {
	text-align: center;
	font-size: 20px;
    color: #FF7260;
}

.paragraph-header{
	font-size: 14px;
    color: #FF7260;
	text-decoration: underline;
}

.header-text{
	font-size: 18px;
    color: #FF7260;
}

.header-section-placement{
	margin-left: 5px;
}
