.body {
	font-family: Verdana, Helvetica, Arial;
}

a:link{color: #0000D9;}
a:visited {color: #0000D9;}
a:hover {color: #F88017;}
a:active {color: #0000D9;}


.title {
	text-align: center;
	font-size: 20px;
    color: #FF7260;
}

.paragraph-header{
	font-size: 14px;
    color: #FF7260;
	text-decoration: underline;
}

.background-header{
	background-color: #DDDDDD;	
}

.header-text{
	font-size: 18px;
    color: #FF7260;
}

.header-section-placement{
	margin-left: 5px;
}
