body {
    background-color: #505050;
    margin: 0;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

hr{
    border-color: black;
}

.headerLink{
    margin: 10px;
}



.headerLink:link, .headerLink:visited {

    font-size: 24px;
    color: #9BD7D5;
    text-decoration: none;
}

.headerLink:hover, .headerLink:active {
    color: #FFF5C3;
}

.header {
    background-color: black;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

/**/

.title{
    color: #129793;
    font-size: 32px;
}

.content {
    color: #FFF5C3;
    font-size: 18px;
    overflow: auto;
}

.contentMargin{
    margin: 30px;
}

.left{
    float:left
}

.right{
    display: inline;
    width: 480px;
}

.trevorImage{
    float:right;
    width:416px;
    height:234px;
}

.imagelabel{
    color: #FF7260;
    font-size: 18px;
    margin-right: 130px;
    float:right;
}