.avoid-bg {
    background-color: #ff726d
}

.evaluate-bg {
    background-color: #fffe97
}

.adopt-bg {
    background-color: #a0ff81
}

.title-cell {
    font-weight: bold;
    font-size: 16px;
    border-bottom: solid 4px black;
}

.label-cell {
    font-weight: bold;
    font-size: 16px;
    border-right: solid 4px black;
}

.text-cell {
    border-right: solid 2px black;
}

.text-margin {
    margin-left: 5px;
}

.title-margin {
    margin-left: 10px;
}